service vncflinger /system/bin/vncflinger -4 0.0.0.0 -l 0.5
    class late_start
    disabled
    user system
    group system input inet readproc

on property:persist.vnc.enable=true
    start vncflinger

on property:persist.vnc.enable=false
    stop vncflinger
